@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;700;800&display=swap');

:root {
  --font-title: 'Open Sans', sans-serif;
  --font01: 'Poppins', sans-serif;

  --color-btn: #EA6017;
  --color-text-out: #263363;
  --color-text-inside: #c6cde2;
  --color-title-out: #171f3d;
  --color-title-inside: #ffffff;
  --color-background: #152760;
  --color-white: rgb(233, 233, 233);
  --color-dark: rgb(31, 31, 31);
  --color-menu-logo: rgb(226, 243, 248);
  --color-logo: #EA6017;
  --color-menu: #d9dce4;
  --color-footer: #171f3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font01);
}

html,
body {
  text-decoration: none;
  outline: none;

  width: 100vw;
  height: 100vh;
}

.background {
  background-image: linear-gradient(to right,#152760, #EA6017);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 40vh;
}

.header {
  max-width: 900px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transform: translateX(-20px);
  opacity: 0;
}

#animar.header {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-logo);
}

.menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0.625rem;
}

.menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.menu ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-menu);
  padding: 0.625rem;
  transition: 0.5s;
}

.menu ul a:hover {
  background-color: #d8822669;
  border-radius: 10px;
  color: var(--color-white);
}

/*==============Main-container================*/

.main {
  width: 70%;
  max-width: 100vw;

  background-color: var(--color-white);
  box-shadow: 0px 10px 40px rgba(39, 39, 39, 0.281);
  border-radius: 10px;
  margin: auto;
}

.title {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
}

.title > h1 {
  font-size: 2rem;
  font-family: var(--font-title);
  color: var(--color-title-out);
}

.title > p {
  font-size: 1rem;
  margin-top: 1.25rem;
  color: var(--color-text-out);
}

.btns {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  transform: translateY(20px);
  opacity: 0;
}
.left-btn {
  padding: 0.9375rem 2.5rem;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-white);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.left-btn:hover {
  background-color: #ac4e23;
  color: #ffffff;
}

.right-btn {
  padding: 0.9375rem 2.5rem;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-white);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.right-btn:hover {
  background-color: #ac4e23;
  color: #ffffff;
}

#animar02 {
  animation-name: bottom;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes bottom {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*===============Valores=========================*/

.valor {
  max-width: 100%;
  height: auto;
  margin-top: 4.375rem;
}

.precos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: unset;
  max-width: 100%;
}

.precos > h2 {
  text-align: center;
  font-size: 1.6rem;
}

.desc {
  font-size: 0.7rem;
}

.barra {
  max-width: 80%;
  margin: 2.5rem auto;
  height: 0.625rem;
  border-radius: 40px;
  background-color: #152760;
  transition: 0.5s;
}

.barra:hover {
  background-color: #296392;
}

/*=======================About===================*/

.about {
  margin: 60px auto;
  max-width: 80%;
  text-align: left;
}

.about > h3 {
  font-size: 1.5rem;
  font-family: var(--font-title);
  color: var(--color-title-out);
  margin-bottom: 20px;
}

.about > p {
  line-height: 2rem;
  color: var(--color-text-out);
}

/*=========================bamboo=====================*/

.bamboo {
  max-width: 80%;
  margin: 3.75rem auto;
  padding-bottom: 3.75rem;
}

.box01 {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 0.625rem;
  margin-top: 3.125rem;
  box-shadow: 0px 10px 40px rgba(58, 58, 58, 0.212);
}

.box02 {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 0.625rem;
  margin-top: 3.125rem;
  box-shadow: 0px 10px 40px rgba(58, 58, 58, 0.212);
}

.box03 {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 0.625rem;
  margin-top: 3.125rem;
  box-shadow: 0px 10px 40px rgba(58, 58, 58, 0.212);
}

.group01 {
  margin-bottom: 0.625rem;
}

.group01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group02 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bamboo {
  font-size: 1rem;
  font-family: var(--font-title);
  color: var(--color-title-inside);
  margin-bottom: 1.25rem;
}

.descont {
  font-size: 0.9rem;
  color: rgb(196, 196, 196);
  margin-bottom: 1.25rem;
}

.descricao {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: var(--color-text-inside);
}

.quantidade {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.left {
  font-size: 0.9rem;
  font-weight: 400;
  color: #f7e8fd;
  margin-left: 0.625rem;
}

.btn {
  padding: 0.625rem 1.25rem;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-white);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ac4e23;
  color: #d8dadb;
  transform: translateY(-2px);
}

/*================Footer==================*/

footer {
  background-color: var(--color-footer);
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer > p {
  font-family: var(--font01);
  color: var(--color-text-inside);
  font-weight: 700;
  font-size: 1rem;
}

footer > p:hover {
  color: #EA6017;
  transform: translateY(5px);
  transition: 0.5s;
}

/*=================Media@================*/

@media only screen and (max-width: 580px) {
  .main {
    width: 100%;
  }

  .header {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {


  .btns {
    flex-direction: column;
  }

  .btns > .left-btn {
    margin: 1.25rem;
  }
  .group01,
  .group02 {
    flex-direction: column;
  }

  .btn {
    margin-top: 0.625rem;
  }

  .header {
    max-width: 900px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transform: translateY(-20px);
    opacity: 0;
  }

  @keyframes slide {
    from {
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .menu > ul {
    margin: 0;
  }
}
