@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;700;800&display=swap');

:root {
  --font-title: 'Open Sans', sans-serif;
  --font01: 'Poppins', sans-serif;

  --color-text: #516879;
  --color-title: #1a3a52;
  --color-background: #9fb4c7;
  --color-background-esgotado: #969696;
  --color-white: rgb(233, 233, 233);
  --color-dark: rgb(31, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font01);
}

html,
body {
  text-decoration: none;
  outline: none;

  width: 100vw;
  height: 100%;
}

.background {
  background-image: url(imagens/computer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 40vh;

  position: relative;
}

.header {
  max-width: 900px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transform: translateX(-20px);
  opacity: 0;
}

#animar.header {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-title);
}

.menu ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px;
}

.menu ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.menu ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--color-text);
  padding: 10px;
  transition: 0.5s;
}

.menu ul a:hover {
  background-color: #91919169;
  border-radius: 10px;
  color: var(--color-white);
}

/*==============Main-container================*/

.main {
  max-width: 800px;
  width: 100vw;

  background-color: var(--color-white);
  box-shadow: 0px 10px 40px rgba(39, 39, 39, 0.281);
  border-radius: 10px;
 
  position: absolute;

  top: 25vh;
  left: 21%
}

.title {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.title > h1 {
  font-size: 2rem;
  font-family: var(--font-title);
}

.title > p {
  font-size: 1rem;
  margin-top: 20px;
}

.btns {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-btn {
  padding: 15px 40px;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: aqua;
  color: var(--color-white);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.left-btn:hover {
  background-color: aquamarine;
  color: #296392;
}

.right-btn {
  padding: 15px 40px;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: rgb(214, 214, 214);
  color: var(--color-text);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.right-btn:hover {
  background-color: aqua;
  color: #ffffff;
}

/*===============Valores=========================*/

.valor {
  max-width: 100%;
  height: auto;
  margin-top: 70px;
}

.precos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: unset;
  max-width: 100%;
}

.precos > h2 {
  text-align: center;
  font-size: 1.6rem;
}

.desc {
  font-size: 0.7rem;
}

.barra {
  max-width: 80%;
  margin: 40px auto;
  height: 10px;
  border-radius: 40px;
  background-color: aqua;
  transition: 0.5s;
}

.barra:hover {
  background-color: #296392;
}

/*=======================About===================*/

.about {
  margin: 60px auto;
  max-width: 80%;
  text-align: left;
}

.about > h3 {
  font-size: 1.5rem;
  font-family: var(--font-title);
  margin-bottom: 20px;
}

.about > p {
  line-height: 2rem;
}

/*=========================bamboo=====================*/

.bamboo {
  max-width: 80%;
  margin: 60px auto;
}

.box01 {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 40px rgba(58, 58, 58, 0.212);
}

.box02 {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 40px rgba(58, 58, 58, 0.212);
}

.box03 {
  opacity: 0.7;
  background-color: var(--color-background-esgotado);
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 40px rgba(58, 58, 58, 0.212);
}

.group01 {
  margin-bottom: 10px;
}

.group01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.group02 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bamboo {
  font-size: 1rem;
  font-family: var(--font-title);
  color: var(--color-title);
  margin-bottom: 20px;
}

.descont {
  font-size: .9rem;
  color: rgb(196, 248, 231);
  margin-bottom: 20px;
}

.descricao {
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--color-text);
}

.quantidade {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a3a52;
}

.left {
  font-size: .9rem;
  font-weight: 400;
  color: #748ba0;
  margin-left: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: aqua;
  color: var(--color-white);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: aquamarine;
  color: #296392;
}
