@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400;500;700;800&display=swap');

/*================Variables===================*/
:root {
  --font1: 'Poppins', sans-serif;
  --font2: 'Noto Sans', sans-serif;

  --color-white: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font1);
}

body {
  width: 100vw;
  height: 100vh;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url(Imagens/purple.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.container {
  margin: 40px 40px 40px 40px;
  color: var(--color-white);
}

/*==================Logo=========================*/

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo > h3 {
  margin-left: 3px;
}

/*===================Main========================*/

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=========================Left-register===============*/
.left-register {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-register > img {
  width: 90%;
}

/*=====================Right-register===============*/
.right-register {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.right-register > h1 {
  padding-bottom: 20px;
}

/*=======Btn-register==========*/

.btn-register {
  width: 40%;
  padding: 13px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 10px 40px 20px rgba(163, 100, 163, 0.26);
  font-size: 1em;
  color: rgb(180, 126, 194);
  font-family: var(--font2);
  border: none;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-register:hover {
  background-color: rgb(233, 192, 240);
}


/*=====================Redes-sociais===============*/

.redes {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
  width: 6vw;
  
}

.redes > img {
  width: 50%;
  margin: 0px 0px 10px 10px;
}
