@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400;500;700;800&display=swap');

/*======================Varibles==================*/

:root {
  --font1: 'Noto Sans', sans-serif;
  --font2: 'Poppins', sans-serif;

  --color-primaria: #012030;
  --color-secundaria: #13678a;
  --color-terceira: #45c4b0;
  --color-background: rgb(236, 236, 236);
  --color-background-content: white;
  --color-comentario: rgb(231, 229, 229);
  --color-logo: #044261;

  --color-white: white;
}

/*========================Body=======================*/

* {
  padding: 0;
  margin: 0;
  font-family: var(--font1);
}

body {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-background);
}

.container {
  width: 90vw;
  height: 100vh;
  margin: auto;

  background-color: var(--color-background-content);

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh 70vh 70vh 10vh;

  grid-template-areas:
    'header header'
    'main aside'
    'section section'
    'footer footer';
}

/*==============Header=========================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-area: header;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-logo);

  margin-left: 10px;
}

.btn-top {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20vw;
  height: 5vh;

  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;

  margin-right: 10px;
}

/*====================Main========================*/
.main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  grid-area: main;

  background: white url(imagens/mobile.jpg) left top no-repeat fixed;
}

.main > h1 {
  font-size: 4em;
  color: var(--color-primaria);
  font-weight: 400;

  margin: 30px;
}

.strong {
  font-weight: 700;
}

.main > p {
  font-size: 1.2em;
  color: var(--color-primaria);
  font-weight: 500;

  margin: 30px;
}

.btn-meio {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20vw;
  height: 5vh;

  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--color-primaria);
  color: var(--color-white);
  font-weight: 700;

  margin: 30px;
}

/*====================Aside=========================*/

.aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  grid-area: aside;
}

.companies > h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--color-primaria);

  margin-top: 40px;
}

.languages > h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--color-primaria);

  margin-top: 40px;
}

.leads > h3 {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--color-primaria);

  margin-top: 40px;
}

/*=====================Section========================*/
.section {
  background-color: var(--color-primaria);
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: section;
}

.left-person {
  width: 50vw;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-person img {
  width: 50vw;
  height: 70vh;

  display: inline-block;
}

.comentario {
  width: 50vw;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comentario > p {
  color: var(--color-comentario);
  letter-spacing: 1px;
  line-height: 30px;

  margin-top: 40px;
}

.comentario > h2 {
  font-size: 2.5em;
  color: var(--color-white);
  font-weight: 400;
}

.works {
  font-weight: 700;
}

.name {
  color: var(--color-white);
  font-weight: 700;

  margin-bottom: -40px;
}

/*======================Footer=============================*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-area: footer;
}

.logo-bottom {
  color: var(--color-logo);

  margin-left: 10px;
}

.footer > p {
  font-size: 0.8em;
  color: rgb(110, 110, 110);
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.redes > img {
  width: 2vw;
  margin-left: 10px;
  cursor: pointer;
}

/*===================RESPONSIBLE-TABLET=================*/

@media only screen and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 10vh 70vh 20vh 80vh 10vh;

    width: 100vw;
    height: 100vh;

    grid-template-areas:
      'header'
      'main'
      'aside'
      'section'
      'footer';
  }

  /*===============Reseposible-header-tablet============*/

  .header {
    grid-area: header;
  }

  .logo {
    margin: 20px;
  }

  .btn-top {
    margin-right: 20px;
    width: 30%;
    height: 50;
  }

  /*==============Reseposible-main-tablet============*/

  .main {
    grid-area: main;
  }

  .btn-meio {
    width: 30%;
    height: 8%;
  }

  /*================Reseposible-aside-tablet============*/

  .aside {
    grid-area: aside;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: unset;
    text-align: center;
  }

  .companies > h3 {
    font-size: 3em;
  }

  .languages > h3 {
    font-size: 3em;
  }

  .leads > h3 {
    font-size: 3em;
  }

  /*================Reseposible-section-tablet============*/

  .section {
    grid-area: section;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .left-person {
    width: 100%;
    height: 50%;
  }

  .left-person > img {
    width: 100%;
    height: 90%;
  }

  .comentario {
    width: 100%;
    height: auto;
  }

  /*===============Reseposible-footer-tablet============*/

  .footer {
    grid-area: footer;
  }

  .logo-bottom {
    margin-left: 20px;
  }

  .redes {
    width: 20%;
  }
}

/*=============RESPONSIBLE-MOBILE============*/

@media only screen and (max-width: 610px) {
  .container {
    grid-template-columns: 3fr;
    grid-template-rows: 10vh 90vh 70vh 90vh 20vh;

    grid-template-areas:
      'footer'
      'main'
      'aside'
      'section'
      'footer';
  }

  /*================Responsible-header-mobile===========*/

  .header {
    grid-area: header;
  }

  .btn-top {
    height: 50%;
    width: 50%;
  }
  /*================Responsible-main-mobile===========*/
  .main {
    grid-area: main;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main > h1 {
    font-size: 3em;
  }

  .btn-meio {
    width: 60%;
  }
  /*================Responsible-aside-mobile===========*/

  .aside {
    grid-area: aside;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
  }

  /*================Responsible-section-mobile===========*/

  .section {
    grid-area: section;
    border-radius: 10px;
  }

  .comentario {
    font-size: 0.8em;
    margin-bottom: 20px;
  }

  /*================Responsible-footer-mobile===========*/

  .footer {
    grid-area: footer;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    
  }

  .logo-bottom {
    margin: 0px 0px 10px 0px;
  }

  .redes {
    margin: 10px 0px 20px 0px;
  }

  .redes > img {
    width: 30%;
  }
}
