@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 34, 34);
}

.container {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  background-color: #1F2630;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.estrelinha {
  color: orange;
}

header > h2 {
  color: white;
}

header > p {
  color: #6b7075;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn {
  margin: auto;
  width: 80%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  background-color: orange;
  color: white;
  letter-spacing: 3px;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.bolinha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  background-color: #3d434b;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}


