@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-title: rgb(107, 107, 107);
  --color-second-title: rgb(63, 63, 63);
  --color-text: rgb(66, 65, 65);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

.container {

}

/*======================Header=======================*/

.header {
  width: 100%;
  height: 30vh;
  text-align: center;
}

.header h1 {
  color: var(--color-title);
  font-weight: lighter;
}

.header h2 {
  color: var(--color-second-title);
  margin-top: -20px;
  font-size: 32px;
}

.header p {
  color: var(--color-text);
  font-size: small;
}

/*==================Four Cards========================*/


.container {
  display: flex;
  flex-direction: column;
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 2rem;

  margin: 4rem 9rem;
  max-width: 80%;
}

.cell-1 {
  grid-row: 1 / 3;
  align-self: center;
  border-top: 3px solid black;
}

.cell-2{
  grid-row: 2 / 3;
  border-top: 3px solid black;
}

.cell-3{

}